body
{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;

    margin: 0;
    padding: 0;
    /*font-weight: 700;  как узнать  font-weight?*/

    color: #283136;
    background-color: #fff;
}

a
{
    text-decoration: none;
}

.main-navigator
{
    font-size: 16px;
    line-height: 24px;

    display: flex;
    flex-direction: column;

    width: 100%;
    padding-top: 49px;
    padding-bottom: 29px;

    color: #283136;
    background-color: #eee;
}

.main-header
{
    /*min-height: 545px;*/
}

.top-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 1160px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.main-header-logo-large
{
    font-size: 55px;
    line-height: 55px;

    margin: 0;
    padding: 115px 0 115px 0;

    text-align: center;
}

.main-header-logo img
{
    opacity: 1;
}

.main-header-logo img:hover,
.main-header-logo img:focus
{
    opacity: .8;
}

.main-header-logo img:active
{
    opacity: .3;
}

.site-navigation
{
    width: 440px;
    margin: 0;
    padding: 0;
}

.user-navigation
{
    width: 160px;
    margin: 0;
    padding: 0;

    text-align: right; /*правильно?*/
}

.user-navigation a
{
    padding-left: 15px; /*уточнить какой должен быть оступ от иконки корзины до надписи "корзина"*/
}

.site-navigation,
.user-navigation
{
    list-style: none;
}

.site-navigation a,
.user-navigation a
{
    color: #000;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus
{
    color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active
{
    color: #bababa;
}

.site-navigation-selected
{
    border-bottom: 2px solid #fb565a;
}



.services
{
    align-items: center;

    width: 1160px;
    min-height: 350px;
    margin: 0 auto;
    padding: 0;
}

.services-list
{
    display: flex;
    justify-content: space-between;

    min-height: 350px;
    padding: 0;

    list-style: none;
}

.service-item
{
    width: 300px;

    text-align: left;
}

.service-item h3
{
    font-size: 24px;
    line-height: 30px;

    text-transform: uppercase;
}

.service-item p
{
    margin-bottom: 35px;
}


.modal
{
    /*display: none; а где он на макете?*/
    color: #000;
    background-color: #fff;
}

.modal label
{
    font-weight: bold;
    line-height: 18px;
}

.contact-us input[type='text'],
.contact-us input[type='password'],
.contact-us textarea
{
    padding: 17px 18px 14px;
    /*font: inherit;*/

    color: #000;
    border: 2px solid #d7dcde;
    background-color: #fff;
}

.contact-us input[type='text']:hover,
.contact-us input[type='password']:hover,
.contact-us textarea:hover
{
    border: 2px solid #b4b9bb;
}

.contact-us input[type='text']:focus,
.contact-us input[type='password']:focus,
.contact-us textarea:focus
{
    color: #000;
    border: 2px solid #000;
    outline: none; /*допустимо?*/
}

.contact-us input[type='text']:invalid,
.contact-us input[type='password']:invalid
{
    color: #e74246;
    border: 2px solid #e74246;
}

.button-submit
{
    /*состояния не описаны в styleguide*/
    font: inherit;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #fff;
    border: none;
    background-color: #e74246;
}

.button-close
{
    border: none;
    background-color: #fff;
}

.button-close img
{
    opacity: .3;
}

.button-close img:hover
{
    opacity: 1;
}

.button-close img:active
{
    opacity: .1;
}


.service-item-button
{
    /*общие настройки ссылок "заказать"*/
    font: inherit;

    padding: 20px 40px;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #fff;
    border: none;
}

.service-item-button-website
{
    background-color: #fb565a;
}
.service-item-button-website:hover,
.service-item-button-website:focus
{
    background-color: #e74246;
}

.service-item-button-website:active
{
    color: #e37376;
    background-color: #d7373b;
    /*box-shadow: inset 0 2px 2px -2px #c13135; при нажатии появляется тень?*/
}

.service-item-button-mobileapp
{
    background-color: #00ca74;
}

.service-item-button-mobileapp:hover,
.service-item-button-mobileapp:focus
{
    background-color: #00bc6c;
}

.service-item-button-mobileapp:active
{
    color: #4dc491;
    background-color: #00aa62;
}

.service-item-button-presentation
{
    background-color: #efc84a;
}

.service-item-button-presentation:hover,
.service-item-button-presentation:focus
{
    background-color: #eab534;
}

.service-item-button-presentation:active
{
    color: #edc265;
    background-color: #e5a722;
}

.filters fieldset
{
    border: none;
}

.catalog-left-filters
{
    width: 260px;
    min-height: 510px;
    margin: 0;
    padding: 0;
}

.catalog-left-filters legend
{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;

    text-transform: uppercase;
}

.catalog-left-filters ul
{
    padding: 0;

    list-style: none;
}

.catalog-left-filters label
{
    font-size: 16px;
    line-height: 20px;
}

.catalog-left-filters-button-show
{
    font: inherit;

    width: 260px;
    height: 50px;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #000;
    border: none;
    background-color: #eee;
}

.catalog-left-filters-button-show:hover,
.catalog-left-filters-button-show:focus
{
    background-color: #dfdfdf;
}

.catalog-left-filters-button-show:active
{
    color: #959595;
    background-color: #d5d5d5;
}

.catalog-left-filters-grid
{
    margin: 0;
    padding: 0;
}

.catalog-left-filters-features
{
    margin: 0;
    padding: 0;
}


.goods-results
{
    width: 760px;
    min-height: 617px;
    margin: 0;
    padding: 0;
}

.goods-results ul
{
    list-style: none;
}

.catalog-list
{
    display: flex;
    flex-wrap: wrap;

    width: 760px;
    margin: 0;
    padding: 0;
}

.catalog-item
{
    width: 360px;
    /*margin: 35px 20px;*/
    min-height: 616px;
    margin-right: 20px; /*разобраться - на макете 40px*/
    margin-bottom: 35px;
    padding: 0;
}

li.catalog-item div.goods-results-item-details
{
    /*display: none;*/
    /*visibility: collapse;*/
    opacity: 0;
}

li.catalog-item:hover div.goods-results-item-details,
li.catalog-item:focus div.goods-results-item-details
{
    /*.catalog-item-price:focus div.goods-results-item-details{*/
    /*display: block;*/
    /*visibility: visible;*/
    opacity: 100;
    /*как вернуть доступность по tab?*/
}

img.catalog-top-browser
{
    opacity: .12;
}

li.catalog-item:hover img.catalog-top-browser,
li.catalog-item:focus img.catalog-top-browser
{
    opacity: 1;
}

div.goods-results-item-details
{
    font-size: 16;

    min-height: 232px;

    text-align: center;

    background-color: #eee;
}

.catalog-item-header h3
{
    font: inherit;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;

    color: #000;
}


.catalog-item-price
{
    font: inherit;
    font-size: 16px;
    line-height: 18px;

    padding: 20px 60px;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #fff;
    border: none;
    background-color: #fb565a;
}

.catalog-item-price:hover,
.catalog-item-price:focus
{
    background-color: #e74246;
}

.catalog-item-price:active
{
    background-color: #d7373b;
    /*тени?*/
}

.catalog-columns
{
    display: flex;
    /*align-content: center;*/
    align-items: flex-start;
    justify-content: space-between;

    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}


.main-footer
{
    display: flex;
    align-items: center;

    width: 1160px;
    min-height: 220px;
    margin: 0 auto;
    padding: 0;

    color: #000;
    background-color: #fff;
}

.footer b
{
    font-size: 36px;
    line-height: 36px;

    color: #000;
}

.footer span
{
    font-size: 16px;
    line-height: 22px;

    color: #444;
}

.footer-social
{
    width: 260px;
    padding: 0 20px;
}

.footer-social a
{
    text-align: center;

    color: #fff;
    background-color: #e1e1e1;
}


.footer-social ul
{
    list-style: none;
}

.footer-discount
{
    padding-left: 260px;
}

.visually-hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}
